@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bitwise-m19x';
  src: url('../public/Bitwise-m19x.ttf');
  font-weight: 400;
  font-style: normal;
}

.text-bitwise {
  font-family: 'Bitwise-m19x';
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../public/Inconsolata-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

.text-inconsolata {
  font-family: 'Inconsolata';
}

@font-face {
  font-family: 'Honoka-Shin-Antique-Kaku_M';
  src: url('../public/Honoka-Shin-Antique-Kaku_M.otf');
  font-weight: 400;
  font-style: normal;
}

.text-honoka-shin-antique {
  font-family: 'Honoka-Shin-Antique-Kaku_M';
}
